<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error-Occured</title>

    <style>
        body{
            min-height: 100vh;
            background-color: rgb(128, 128, 128, 0.7);
            display:flex;
            flex-direction: column;
            align-items: center;
            
        }
        div{
            margin-top: 30vh;
        }

        ul{
            margin-top: 5vh;
            margin-left: 2vw;
        }
        ul li{
            margin-bottom:1vh ;
        }

    </style>
</head>
<body>

    <div >

    <h1 >Unexpected error occurred</h1>

    <ul>
        <li>check your internet conection</li>
        <li>check flask server rendering method</li>
        <li>check internal attributes</li>
    </ul>
    
    </div>
</body>
</html>